:root {
  /* ============================================================= */
  /* Backgrounds
  ================================================================ */
  --cd-body-background-color:            #2e2e2e;
  --cd-content-background-color:         #313131;
  --cd-faded-background-color:           #1d1d1d;

  /* Background Extras */
  --cd-body-background-image:              url();

  /* ============================================================= */
  /* Text
  ================================================================ */
  --cd-body-text-color:                  #f0f0f0;
  --cd-faded-text-color:                 #dfdfdf;

  /* ============================================================= */
  /* Borders
  ================================================================ */
  --cd-border-color:                     rgb(255, 255, 255,.125);
}